<style>
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1428353077903-d09b3e000f37?ixlib=rb-1.2.1&auto=format&fit=crop&w=2247&q=80');
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
</style>


<div class="container my-5">


    <div class="list-group w-75" style="display:table; margin-left:auto; margin-right:auto">
        <% if @posts.present? %>
        <% @posts.each do |post| %>
        <div class="list-group-item list-group-item-action bg-white mb-5 border">
            <header class="mb-2">
                <%= link_to "/user/#{post.user.id}" do %>
                <%= post.user&.email%>
                <% end %>
            </header>
            <div class="carouselExampleIndicators carousel slide mb-2" data-touch="true">
                <ol class="carousel-indicators">
                    <% post.images.count.times.each do |index| %>
                    <li data-target=".carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if (index == 0) %>"></li>
                    <% end %>
                </ol>
                <div class="carousel-inner">
                    <% post.images.each_with_index do |image, index| %>
                    <div class="carousel-item <%= 'active' if (index == 0) %>">
                        <img src="<%= image.image_url %>" class="d-block w-100" alt="">
                    </div>
                    <% end %>
                </div>
            </div>
            <% if current_user.present? %>
            <div class="row mb-2 ml-1">
                <%= form_tag("/post/#{post.id}/toggle", method:"post", remote:true) do %>
                <%= hidden_field_tag :post_id, post.id %>
                <% if current_user.likes.find_by(post_id: post.id).present? %>
                <button>
                    <i class="fas fa-heart liked" id="like-<%=post.id%>"></i>
                </button>
                <%else%>
                <button>
                    <i class="far fa-heart" id="like-<%=post.id%>"></i>
                </button>
                <%end%>
                <%end%>
                <span id="ajaxLikeSize-<%= post.id %>"><%=post.likes.size%></span>
            </div>
            <%else%>
            <div>
                <i class="far fa-heart"></i>
                <%=post.likes.size%>
            </div>
            <%end%>
            <div class="post-info mb-3">
                <%= link_to post_path(post) do %>
                <%= truncate post.body%>
                <% end %>
            </div>
            <%= render "comments/comments", comments: post.comments.order(created_at: :desc), post: post %>

            <hr>
            <% if current_user %>
            <%= render "comments/form", comment: Comment.new, post: post, user: current_user %>
            <%end%>



        </div>
        <%end%>
        <%else%>
        <div class="list-group-item list-group-item-action">
            <h3>게시글이 없습니다.</h3>
        </div>
        <%end%>


    </div>
    <!--
    <div class="list-group">
        <% if @posts.present? %>
        <div class="list-group-item list-group-item-action bg-light">
            <div class="row text-center">
                <div class="col-md-3">
                    제목
                </div>
                <div class="col-md-5">
                    내용
                </div>
                <div class="col-md-2">
                    작성자
                </div>
            </div>
        </div>
        <% @posts.each do |post| %>
        <div class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md-3">
                    <%= link_to post_path(post) do %>
                    <%= post.title%>
                    <% end %>
                </div>
                <div class="col-md-5">
                    <%= link_to post_path(post) do %>
                    <%= truncate post.body%>
                    <% end %>
                </div>
                <div class="col-md-2">
                    <%= post.user&.email %>
                </div>
                <div class="col-md-2 text-right">
                    <% if current_user == post.user%>
                    <%= link_to  "수정", edit_post_path(post) %> / <%= link_to  "삭제", post_path(post), method: :delete %>
                    <%end%>
                </div>
            </div>
        </div>
        <%end%>
        <%else%>
        <div class="list-group-item list-group-item-action">
            <h3>게시글이 없습니다.</h3>
        </div>
        <%end%>


    </div>
    -->
</div>