<main class="d-flex">
    <div id="carouselExampleIndicators" class="carousel slide mb-2 w-50" data-touch="true">
        <ol class="carousel-indicators">
            <% @post.images.count.times.each do |index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if (index == 0) %>"></li>
            <% end %>
        </ol>
        <div class="carousel-inner">
            <% @post.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if (index == 0) %>">
                <img src="<%= image.image_url %>" class="d-block w-100" alt="">
            </div>
            <% end %>
        </div>
        <% if current_user.present? %>
        <div class="row mb-2 ml-1">
            <%= form_tag("/post/#{@post.id}/toggle", method:"post", remote:true) do %>
            <%= hidden_field_tag :post_id, @post.id %>
            <% if current_user.likes.find_by(post_id: @post.id).present? %>
            <button>
                <i class="fas fa-heart liked" id="like-<%=@post.id%>"></i>
            </button>
            <%else%>
            <button>
                <i class="far fa-heart" id="like-<%=@post.id%>"></i>
            </button>
            <%end%>
            <%end%>
            <span id="ajaxLikeSize-<%= @post.id %>"><%=@post.likes.size%></span>
        </div>
        <%else%>
        <div>
            <i class="far fa-heart"></i>
            <%=post.likes.size%>
        </div>
        <%end%>
    </div>
    <div class="border align-items-stretch w-50 bg-white" style="padding-left: 10px; padding-right: 10px;">
        <div style="margin-bottom: 20px;">
            <%= @post.user&.email %>
        </div>
        <h4 style="margin-bottom: 40px;">
            <%= @post.title %>
        </h4>
        <div class="post-info mb-3">
            <%= truncate @post.body%>
        </div>
        <%= render "comments/comments", comments: @post.comments.order(created_at: :desc), post: @post %>

        <hr>
        <% if current_user %>
        <%= render "comments/form", comment: Comment.new, post: @post, user: current_user %>
        <% end %>
    </div>
</main>